@use "../Variables/colours" as c;
.hidden-menu {
  position: fixed; //No es position relative!!
  z-index: 1;
  top: 0;
  left: -1290px;
  width: 100vw;
  height: 100vh;
  background-color: #00000880;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-items: center;
}

.show-hidden-menu {
  transform: translateX(1280px);
  transition: 200ms ease;
}

.section-link,
.section-link:visited {
  text-decoration: none;
  color: c.$bg-color;
  font-size: 1.5rem;
}

.section-link-hovered {
  background-color: rgba(226, 146, 44, 0.4);
  padding: 0% 30%;
}
